{% extends 'base.html' %}


{% block main %}
<h3>Lista de Funcionários</h3>
	<br>
	<a href="{% url 'create_funcionario' %}" class="btn btn-info">Novo</a>

<table class="table">
    <thead>
	    <tr>
	        <th scope="col">Funcionário</th>
		    <th scope="col">Ação</th>
	    </tr>
    </thead>
	{% for funcionario in object_list %}
	<tbody>
	    <tr>
	        <td>
		        <a href="{% url 'update_funcionario' funcionario.id %}">
			        {{ funcionario.nome }}
		        </a>
	        </td>
		    <td>
	            <a href="{% url 'delete_funcionario' funcionario.id %}">
		            Eliminar
	            </a>
	        </td>
	    </tr>
	</tbody>
	{% endfor %}
</table>
{% endblock %}