{% extends 'base.html' %}

{% block main %}
    <div class="row">
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            Olá {{ utilizador.funcionario.nome }}
            <a href="{% url 'list_funcionarios' %}">Gerir funcionários</a>
	        <a href="{% url 'list_departamentos' %}">Gerir departamentos</a>
        </div>
        <div class="col-sm">
            <a href="{% url 'logout' %}">Logout</a>

            {% if utilizador.funcionario.empresa %}
                <a href="{% url 'edit_empresa' utilizador.funcionario.empresa.id %}">Editar empresa</a>
            {% else %}
                <a href="{% url 'create_empresa' %}">Criar empresa</a>
            {% endif %}
        </div>
    </div>
{% endblock %}