{% extends 'base.html' %}


{% block main %}
<h3>Banco de horas</h3>
	<br>
	<a href="{% url 'create_registo_hora_extra' %}" class="btn btn-info">Novo</a>
	<br>

<table class="table">
    <thead>
	    <tr>
	        <th scope="col">
		        Motivo
	        </th>
		    <th scope="col">
		        Ação
	        </th>
	    </tr>
    </thead>
	{% for registo_re in object_list %}
	<tbody>
	    <tr>
	        <td>
		        <a href="{% url 'update_hora_extra' registo_re.id %}">
		            {{ registo_re }}
		        </a>
	        </td>
		    <td>
		        <a href="{% url 'delete_hora_extra' registo_re.id %}">
		            Eliminar
		        </a>
	        </td>
	    </tr>
	</tbody>
	{% endfor %}
</table>
{% endblock %}